
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com/cse/docs/tos.html -->
<% if @research %>
<div style="font-family:arial;color:#999999;padding:0 0px 10px">Search the contents of your bookmarks:</div>
<form name="cse" id="searchbox_demo" action="http://www.google.com/cse">
  <input type="hidden" name="cref" value="" />
  <input type="hidden" name="ie" value="utf-8" />
  <input type="hidden" name="hl" value="" />
  <input name="q" type="text" size="40" />
  <input type="submit" name="sa" value="Search" />
</form>
<script type="text/javascript" src="http://www.google.com/cse/tools/onthefly?form=searchbox_demo&lang="></script>

	<div style="display:none;visibility:hidden;">
		<% @research.bookmarks.split('__').each do |bookmark| %>
		  <%= link_to bookmark,bookmark %>  <br/>
		<% end %>
	</div>
	<% elsif %>
	<div style="font-family:arial;color:#999999;padding:0 0px 10px">You are not authorized or your content is no longer available. Click the 'My Bookmark Search' icon on your Chrome Browser....</div>
	<% end %>
